<div class="options">
    <mat-form-field class="dropDashboard selectDash">
        <mat-label class="selectDash">País</mat-label>
        <mat-select class="selectDash" [(value)]="selectedCon">
            <mat-option class="selectDash" value = "con" (click)="fetchData('country/','AFH')">Afghanistan</mat-option>
            <mat-optgroup label = Departamentos>
                <mat-option *ngFor = "let country of countries" (click)="fetchData('country/',country.id)" (click)="saveName(country.name)" value ="{{country.id}}">{{country.name}}</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="dropDashboard dateDash">
        <mat-label class="selectDash">Inicio</mat-label>
        <input matInput [matDatepicker]="myInitDatePicker">
        <mat-datepicker-toggle matSuffix [for]="myInitDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #myInitDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="dropDashboard dateDash">
        <mat-label class="selectDash">Fin</mat-label>
        <input class="selectDash" matInput [matDatepicker]="myLastDatePicker">
        <mat-datepicker-toggle matSuffix [for]="myLastDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #myLastDatePicker></mat-datepicker>
    </mat-form-field>
    
    <button mat-raised-button class="ml-wb" (click)="downloadData()"><mat-icon class="buttonIcon">download</mat-icon>Descargar</button>
</div>

<div class="sliderSecondary">
    <h4 class="toggleTitleSecondary">Una</h4>
    <mat-slide-toggle class="toggleDashboard" [(ngModel)]="selectView"></mat-slide-toggle>
    <h4 class="toggleTitleSecondary">Multiple</h4>
</div>

<div class="bodyDashboardContent">
    
    <div *ngIf="selectView; then multipleCharts; else oneChart"></div>

    <div class="contentExplanation ml-2 mt-2">
        <h2 class="expTitle">Especificaciones</h2>
        <h3 class="expSubTitle infectedText">Nuevos Casos</h3>
        <p class="expPar">Hace referencia a la cantidad de casos nuevos por día en la región especificada</p>
        <mat-divider class="secondaryDivider"></mat-divider>
        <h3 class="expSubTitle deathText">Decesos</h3>
        <p class="expPar">Hace referencia a la cantidad de decesos por día en la región especificada</p>
        <mat-divider class="secondaryDivider"></mat-divider>
        <h3 class="expSubTitle vaccineText">Vacunados</h3>
        <p class="expPar">Hace referencia a la cantidad de vacunados por día en la región especificada</p>
        <mat-divider class="secondaryDivider"></mat-divider>
        <h3 class="expSubTitle recoverText">Recuperados</h3>
        <p class="expPar">Hace referencia a la cantidad de recuperados por día en la región especificada</p>
        <mat-divider class="secondaryDivider"></mat-divider>
    </div>

    <ng-template #multipleCharts>
        <div class="completeDashboard">
            <div class="dashboards">
                <div class="infDashboards">
                    <canvas baseChart
                        [datasets] = "barChartDataInf"
                        [labels] = "barChartLables"
                        [options] = "barChartOptionsInf"
                        [legend] = "barChartLegendInf"
                        [chartType] = "barChartTypeInf"
                        [colors]= "barChartColorsInf"
                    ></canvas>
                </div>
                <div class="infDashboards ml-2">
                    <canvas baseChart
                        [datasets] = "barChartDataDeath"
                        [labels] = "barChartLables"
                        [options] = "barChartOptionsDeath"
                        [legend] = "barChartLegendDeath"
                        [chartType] = "barChartTypeDeath"
                        [colors]= "barChartColorsDeath"
                    ></canvas>
                </div>
            </div>
            
            <div class="dashboards mt-2">
                <div class="infDashboards">
                    <canvas baseChart
                        [datasets] = "barChartDataVac"
                        [labels] = "barChartLables"
                        [options] = "barChartOptionsVac"
                        [legend] = "barChartLegendVac"
                        [chartType] = "barChartTypeVac"
                        [colors]= "barChartColorsVac"
                    ></canvas>
                </div>
                <div class="infDashboards ml-2">
                    <canvas baseChart
                        [datasets] = "barChartDataRec"
                        [labels] = "barChartLables"
                        [options] = "barChartOptionsRec"
                        [legend] = "barChartLegendRec"
                        [chartType] = "barChartTypeRec"
                        [colors]= "barChartColorsRec"
                    ></canvas>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #oneChart>
        <div class="completeInfDashboard">
            <canvas baseChart
                [datasets] = "barChartDataMult"
                [labels] = "barChartLables"
                [options] = "barChartOptionsMult"
                [legend] = "barChartLegendMult"
                [chartType] = "barChartTypeMult"
                [colors]= "barChartColorsMult"
            ></canvas>
        </div>
    </ng-template>

</div>

