.countryinfo{
    background: #e1f6f4;
    color: #166678;
    font-size: 20px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 3px 0px #166678;
    border-radius: 10px;
    display: flex;
    background-color: #e1e1e1;
    justify-content: center;
}

.element{
    margin-top: 50px;
    margin-bottom: 50px;
    padding:60px;
    overflow:scroll;
    height: 89.2vh;
    width: 100%;
}

.h2__cl{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    color: #e1f6f4;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0px 3px 0px #166678;
}