<div class="main__container">
    <div class="row">
        <div class="col-4">
            <div class="element">
                <h2 class="h2__cl">PAISES</h2>
                <div *ngFor="let country of countries">
                    <a href="" class="countryinfo">{{country.name}}</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="filters">
                <select class="select">
                    <option value="" selected disabled >Tiempos</option>
                    <option value="" *ngFor="let time of times" [value]="time" onclick="">{{time}}</option>
                </select>
            </div>
            <div class="cht">
                <canvas baseChart
                [datasets]="ChartData"
                [labels]="ChartLabels"
                [options]="ChartOptions"
                [legend]="ChartLegend"
                [chartType]="ChartType"
                [colors]="ChartColors"></canvas>
            </div>
        </div>
    </div>
</div>