.circular-button {
  &--profile {
    background-color: $color-primary !important;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
  }
  &__letter {
    font-size: 50;
    color: $color-primary-white;
  }
}

.decline-button{
  width: 12rem;
  font-size: 1.5rem;
  color: $color-primary-white ;
  background-color: $color-warning !important;
  border-radius: 50%;
  border: none;
  margin: 3rem;
}

.acept-button{
  width: 12rem;
  font-size: 1.5rem;
  color: $color-primary-white ;
  background-color: $color-acept !important;
  border-radius: 50%;
  border: none;
}

.mat-raised-button{
  background-color: $color-secondary;
  color: $color-primary-white;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.mat-mini-fab{
  background-color: $color-secondary !important;
}


.locationButton{
  width: 12.5vw;
}

.mat-button-toggle {
  background-color: $color-secondary-light-1;
  width: 10vw;
  color: $color-secondary;
}

.mat-button-toggle:hover {
  background-color: $color-secondary !important;
  color: $color-primary-white !important;
}

.mat-button-toggle-checked {
  background-color: $color-secondary-grey-2 !important;
  color: $color-secondary-white !important;
}