.card{
    width: 15vw;
    margin: 3.2rem 1.6rem;
    padding-top: 3.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 8rem;
    border-radius: 2rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background-color: $color-primary-white;
}

.cardText{
    margin-top: 1.2rem;
    font-weight: 500;
    font-size: larger;
}

.cardTitle{
    color: $color-secondary-grey-2;
    padding-top: .8rem;
    font-size: 16px;
    font-weight: 600;
}

.cardUbtitle{
    text-align: center;
    font-size: 25px;
    margin-bottom: 3.4rem;
    margin-top: 2rem;
    color: $color-secondary;
}

.rowCard{
    display: flex;
    margin: 2rem 0;
    padding: 0 1.3rem;
}

.iconBack{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    padding-top: 1.4rem;
    border-radius: 1rem;
    color: $color-primary-white;
    margin-top: .8rem;
    margin-right: 2rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    padding-top: 1.4rem;
    border-radius: 1rem;
    background-color: $color-primary-white;
    margin-right: 2rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.population{
    background-color: $color-population;
}

.infected{
    background-color: $color-infected;
}

.death{
    background-color: $color-death;
}

.vaccine{
    background-color: $color-vaccine;
}

.recover{
    background-color: $color-recover;
}

.infDashboards{
    width: 35vw;
    padding: 2rem 2rem;
    background-color: $color-primary-white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 1rem;
}

.completeInfDashboard{
    margin-top: 2rem;
    width: 67vw;
    padding: 2rem 2rem;
    background-color: $color-primary-white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 1rem;
}

.contentExplanation{
    width: 10.5vw;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background-color: $color-primary-white;
    text-align: center;
}

.infCustomDashboards{
    width: 36.5vw;
    padding: 2rem 2rem;
    background-color: $color-primary-white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 1rem;
}

.valuesOfdata{
    width: 35.5vw;
    height: 47vh;
    padding: 2rem 2rem;
    background-color: $color-primary-white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 1rem;
}

.cardValue{
    height: 19vh;
    border-radius: 1rem;
    display: flex;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    width: 15vw;
}

.myBetaCard{
    padding: 2rem;
    background-color: $color-primary-light-1;
}

.line{
    display: flex;
    justify-content: center;
}