.customFilters{
    border-radius: 1rem;
    padding: 2rem 1rem;
    background-color: $color-primary-light-1;
}
.mat-dialog-container {
    padding: 0 !important;
    background-color: transparent !important;
 }
