//--------------------------- Map Style Select ---------------------------//

.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: $color-primary;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $color-secondary-light-1;
}

.mat-form-field-label {
    color:$color-secondary-light-1 !important;
} 

.mat-select-arrow{
    color: $color-secondary-light-1 !important;
}

.mat-select-panel {
    background-color: $color-secondary-white !important;
    border-radius: 1rem;
}
.mat-select-value {
    color: $color-primary-light-1;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $color-secondary;
}

.mat-form-field{
    background-color: $color-secondary;
    border-radius: 2rem;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $color-primary-light-1 !important;
}

//--------------------------- Dashboard Style Select ---------------------------//

.dateDash{
    color: $color-secondary;
}

.mat-form-field-label .selectDash{
    color: $color-secondary !important;
} 

.selectDash .mat-select-arrow{
    color: $color-secondary !important;
}

.selectDash .mat-select-value{
    color: $color-secondary !important;
}

.selectDash .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: $color-secondary;
}

.selectDash .mat-form-field{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.selectDash .mat-form-field-ripple{
    /*change color of underline when focused*/
    background-color: $color-secondary !important;
}


//--------------------------- DatePicker Style ---------------------------//

.mat-datepicker-toggle {
    color: $color-secondary !important;
}

.mat-calendar {
    background-color: $color-secondary-white;
    color: ·$color-secondary;
}

.mat-calendar-body-cell-content.mat-calendar-body-today{
    background-color: $color-secondary !important;
    color: white !important;
}

//--------------------------- Icon Style ---------------------------//

.buttonIcon{
    margin-right: 1rem;
}