.mat-header-cell {     
    background-color: $color-secondary;     
    color: $color-primary-white;     
    font-size: 16px; 
    padding-left: 3rem;
    text-align: center;
}

.mat-cell{
    text-align: center !important;
    padding-left: 2rem;
}
.tableall{
    background-color: $color-primary-white; 
    color: $color-primary-white;  
    font-size: 16px;
    width: 100%;
    border-collapse: separate;
	border-spacing: 25px 10px;
}
.divtable{
    margin-top: 2rem;
    width: 60%;
    margin-left: 20%;
}