.mat-header-cell {     
    background-color: $color-primary;     
    color: $color-primary-white;     
    font-size: 16px; }
.tableall{
    background-color: $color-secondary; color: $color-primary-white;     font-size: 16px;
}