.title__logo {
  display: flex;
  font-size: 3rem;
  flex: 1;
  font-family: "Rubik";
  color: white;
  font-family: "montserrat";
  font-weight: 500;
}

.populationText{
  color: $color-population !important;
}

.infectedText{
  color: $color-infected !important;
}

.deathText{
  color: $color-death !important;
}

.vaccineText{
  color: $color-vaccine !important;
}

.recoverText{
  color: $color-recover !important;
}

.expTitle{
  color: $color-secondary;
  font-size: 17px;
  margin-bottom: 2rem;
}

.expSubTitle{
  font-size: 16px;
}

.expPar{
  margin: 2rem 0;
  font-size: 14px;
  color: $color-primary;
}

.dialogCustomTitle{
  color: $color-secondary;
  text-align: center;
  font-size: 18px;
}

.valueTitle{
  margin-top: 2rem;
  font-size: 25px;
  color: $color-primary-white;
}

.valueText{
  color: $color-primary-white;
  margin-bottom: 2rem;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
  font-size: 30px;
  font-weight: 100;
}
 
.liText{
  text-align: center;
  font-size: 36px;
  font-family: "Rubik";
  font-family: "montserrat";
  color: $color-secondary;
}

.pText{
  color: $color-primary;
  margin-bottom: 1rem;
  font-style: italic;
}

.dialogTitle{
  color: $color-secondary;
  font-size: 20px;
  text-align: center;
}