<div>
  <div class="title-container"><h1 class="title-page"><strong>Departamentos</strong></h1></div>
  <div class="mat-elevation-z8 divtable">
    <mat-table [dataSource] = "dataSource" matSort class="tableall mt-table">
      <ng-container matColumnDef="id_location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Population">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Población</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.population}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cases">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Infectados</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.cases}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Deaths">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Decesos</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.deaths}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Recovered">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Recuperados</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.recovered}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Vaccine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Vacunados</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.vaccine}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]=[1,5,9] [pageSize] = "9"  class="selectDash" showFirstLastButtons></mat-paginator>
  </div>
</div>
