*{
    margin: 0px;
    padding: 0px;
    background-color: #121e34;
}

.main__container{
    height: 100vh;
}

.first__container{
    padding-top: 3rem ;
    display: flex;
    justify-content: center;
    align-items: center
}

.second__container{
    padding-top: 2rem ;
    display: flex;
    justify-content: center;
    align-items: center
}

.h3__title{
    color: #e1f6f4;
    font-style: italic;;
    font-weight: 400;
}
.h5__subtitle{
    color: #e1f6f4;
    font-weight: 200;
    font-size: 18px;
}

.logo{
    cursor: pointer;
    width: 320px;
    height: 150px;
}

.img__container {
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}