//COLORS
$color-primary: #121e34;
$color-primary-light-1: #e1f6f4;
$color-primary-white: #ffffff;
$color-primary-black: #373a40;
$color-primary-grey: #f5f5f5;

$color-secondary: #166678;
$color-secondary-white: #eefcfc;
$color-secondary-light-1: #7eb9b3;
$color-secondary-grey-2: #1c9696;
$color-secondary-grey: #d1d0d0;

$color-warning: #ff0000;
$color-acept: #40a803;

/*$color-population: #af5ad1;
$color-infected: #c03826;
$color-death: #13213a;
$color-vaccine: #45cebc;
$color-recover: #73d45e;*/

$color-population: #bdc3c7;
$color-infected: #9b59b6;
$color-death: #455c73;
$color-vaccine: #3498db;
$color-recover: #26b99a;