<div class="mapComponent">
    <div class="map-wrapper">
        <div class="map-border">
            <div id="map" class="mymap">
            </div>
        </div>
    </div>
    <div class="rowComponent">
        <mat-form-field class="dropMapSelected">
            <mat-label>Locación</mat-label>
            <mat-select [(value)]="selected">
                <mat-optgroup label = Bolivia>
                    <mat-option value = "dep" (click) = "setMapParameters(-16.290154,-63.588653,6.4)" (click) = "loadMarkers('bol',60000)" (click) = "loadCardVariable('bol_cases')" (click) = "setCardTitle('BOLIVIA')">Departamentos</mat-option>
                    <mat-option value = "mun" (click) = "setMapParameters(-16.290154,-63.588653,6.4)" (click) = "loadMarkers('municipios',5000)" (click) = "loadCardVariable('bol_cases')" (click) = "setCardTitle('BOLIVIA')">Municipios</mat-option>
                </mat-optgroup>
                <mat-optgroup label = "Global">
                    <mat-option value = "country" (click) = "setMapParameters(13,5,2)" (click) = "loadMarkers('world',100000)" (click) = "loadCardVariable('world_cases')" (click) = "setCardTitle('MUNDO')">Países</mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <mat-divider class="primaryDivider"></mat-divider>
        <div class="card">
            <h1 class="cardUbtitle">{{cardTitle}}</h1>
            <mat-divider class="secondaryDivider"></mat-divider>
            <div class="rowCard">
                <div class="iconBack population">
                    <mat-icon>groups</mat-icon>
                </div>
                <div class="textAlig">
                    <h3 class="cardTitle">Población Total</h3>
                    <p class="cardText">{{validator(total.population)}}</p>
                </div>
            </div>
            <mat-divider class="secondaryDivider"></mat-divider>
            <div class="rowCard">
                <div class="iconBack infected">
                    <mat-icon>coronavirus</mat-icon>
                </div>
                <div class="textAlig">
                    <h3 class="cardTitle">Infectados</h3>
                    <p class="cardText">{{validator(total.cases)}}</p>
                </div>
            </div>
            <mat-divider class="secondaryDivider"></mat-divider>
            <div class="rowCard">
                <div class="iconBack death">
                    <mat-icon>airline_seat_individual_suite</mat-icon>
                </div>
                <div class="textAlig">
                    <h3 class="cardTitle">Decesos</h3>
                    <p class="cardText">{{validator(total.deaths)}}</p>
                </div>
            </div>
            <mat-divider class="secondaryDivider"></mat-divider>
            <div class="rowCard">
                <div class="iconBack vaccine">
                    <mat-icon>colorize</mat-icon>
                </div>
                <div class="textAlig">
                    <h3 class="cardTitle">Vacunados</h3>
                    <p class="cardText">{{validator(total.vaccine)}}</p>
                </div>
            </div>
            <mat-divider class="secondaryDivider"></mat-divider>
            <div class="rowCard">
                <div class="iconBack recover">
                    <mat-icon>health_and_safety</mat-icon>
                </div>
                <div class="textAlig">
                    <h3 class="cardTitle">Recuperados</h3>
                    <p class="cardText">{{validator(total.recovered)}}</p>
                </div>
            </div>
            <mat-divider class="secondaryDivider"></mat-divider>
        </div>
    </div>
</div>