//PADDINGS
.p-2 {
  padding: 2rem;
}

//MARGINS

.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.ml-2{
  margin-left: 2rem;
}
.ml-bb{
  margin-left: 33rem;
}
.ml-1{
  margin-left: 1rem;
}
.ml-wb{
  margin-left: 57.5rem;
}
.ml-4{
  margin-left: 4rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.ml-3{
  margin-left: 3rem;
}
.ml-25{
  margin-left: 2.5rem;
}
.mt-20{
  margin-top: 15vh;
}
.mt-table{
  margin-top: 10.5rem;
}
.mt-build{
  margin-top: 3rem;
}
.ml-6{
  margin-left: 7rem;
}

.mt-07{
  margin-top: .7rem;
}
