<div class="myBetaCard">
    <h3 class = "dialogTitle">Variables</h3>
    <div class="line mt-2">
        <p class="dialogColor">O2: </p>
        <p class="dialogTextColor ml-2">{{actualo2}}</p>
    </div>
    <div class="line mt-2">
        <p class="dialogColor">O: </p>
        <p class="dialogTextColor ml-2">{{actualo}}</p>
    </div>
    <div class="line mt-2">
        <p class="dialogColor">B1: </p>
        <p class="dialogTextColor ml-2">{{actualb1}}</p>
    </div>
    <div class="line mt-2">
        <p class="dialogColor">B0: </p>
        <p class="dialogTextColor ml-2">{{actualb0}}</p>
    </div>
    <div class="line mt-2">
        <p class="dialogColor">R2: </p>
        <p class="dialogTextColor ml-2">{{actualr2}}</p>
    </div>
</div>