<div class="cards">
    <h1 class="cardMundo">Mundo</h1>
    <div class="card card1">
        <div class="cont">
            <img src="../../../../../assets/population.jpg" alt="population">
        </div>
        <div class="details">
            <h3 class="h3__tp">Población Total :</h3>
            <p class="p__tp">{{total.population}}</p>
        </div>
    </div>
    <div class="card card2">
        <div class="cont">
            <img src="../../../../../assets/infected.jpg" alt="population">
        </div>
        <div class="details">
            <h3 class="h3__inf">Infectados: </h3>
            <p class="p__inf">{{total.cases}}</p>
        </div>
    </div>
    <div class="card card3">
        <div class="cont">
            <img src="../../../../../assets/death.jpg" alt="population">
        </div>
        <div class="details">
            <h3 class="h3__death">Decesos: </h3>
            <p class="p__death">{{total.deaths}}</p>
        </div>
    </div>
    <div class="card card4">
        <div class="cont">
            <img src="../../../../../assets/recovered.png" alt="population">
        </div>
        <div class="details">
            <h3 class="h3__vacc">Vacunados: </h3>
            <p class="p__vacc">{{total.vaccine}}</p>
        </div>
    </div>
    <div class="card card5">
        <div class="cont">
            <img src="../../../../../assets/syringe.jpg" alt="population">
        </div>
        <div class="details">
            <h3 class="h3__reco">Recuperados: </h3>
            <p class="p__reco">{{total.recovered}}</p>
        </div>
    </div>
</div>
