*{
    padding: 0px;
    margin: 0px;
}

h1{
    font-size: 50px;
    text-align: center;
    padding: 10px;
    color: #166678;
}

.cards{
    padding: 5rem 0;
    display: flex;
    color: #166678;
    justify-content: space-around;
}

.card{
    height: 280px;
    width:280px;
    background-color: #e1f6f4;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.cont{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100%
    85%, 0 100%);
}

img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
    height: 150px;
}

.cont:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.cardMundo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width:280px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.card1>.cont:after{
    background-image: linear-gradient(
        135deg,
        #f1ef55,
        #aa9f06
    );
}
.card2>.cont:after{
    background-image: linear-gradient(
        135deg,
        #f7362f,
        #470707
    );
}
.card3>.cont:after{
    background-image: linear-gradient(
        135deg,
        #353535,
        #0f0e0f
    );
}
.card4>.cont:after{
    background-image: linear-gradient(
        135deg,
        #20c6e4,
        #05043a
    );
}
.card5>.cont:after{
    background-image: linear-gradient(
        135deg,
        #0fd11f,
        #21a047
    );
}
.details{
    display: block;
    justify-content: center;
    padding: 20px 10px;
}

.details .h3__tp{
    color: #d8d510;
    font-weight: 600;
    font-size: 20px;
}
.details .h3__inf{
    color: #f7362f;
    font-weight: 600;
    font-size: 20px;
}
.details .h3__death{
    color: #353535;
    font-weight: 600;
    font-size: 20px;
}
.details .h3__vacc{
    color: #20c6e4;
    font-weight: 600;
    font-size: 20px;
}
.details .h3__reco{
    color: #0fd11f;
    font-weight: 600;
    font-size: 20px;
}

.details .p__tp{
    margin-top: 7px;
    text-align: center;
    color: #d8d510;
    font-weight: 600;
    font-size: 33px;
}
.details .p__inf{
    margin-top: 7px;
    text-align: center;
    color: #f7362f;
    font-weight: 600;
    font-size: 33px;
}
.details .p__death{
    margin-top: 7px;
    text-align: center;
    color: #353535;
    font-weight: 600;
    font-size: 33px;
}
.details .p__vacc{
    margin-top: 7px;
    text-align: center;
    color: #20c6e4;
    font-weight: 600;
    font-size: 33px;
}
.details .p__reco{
    margin-top: 7px;
    text-align: center;
    color: #0fd11f;
    font-weight: 600;
    font-size: 33px;
}