<header>
    <img class="logo" src="../../../../../assets/logo_transparent.png" alt="logo">
    <nav>
        <ul class="nav__links">
            <div *ngIf="ubi; then bolname; else worldname"></div>
            <ng-template #bolname>
                <a class="cta" href="#" (click)="mapReload()" (click)="renameBttn()"><button>Mundo</button></a>
            </ng-template>
            <ng-template #worldname>
                <a class="cta" href="#" (click)="mapReload()" (click)="renameBttn()"><button>Bolivia</button></a>
            </ng-template>
        </ul>
    </nav>
</header>
<hr class="one">