<mat-nav-list class="p-2 sidenav__content">
    <div class="sidenav-brand mb-2">
      <img [src]="logotipo" alt="logo-example" class="sidenav-brand__logotipo" />
    </div>
    <div
      class="link"
      mat-list-item
      (click)="irALink('pharmacy')"
      routerLink="/pharmacy"
      routerLinkActive="list-item-active-link"
    >
      <mat-icon class="link__icon mx-1">local_pharmacy</mat-icon
      ><span class="link__text">Farmacias</span>
    </div>
    <div
      class="link"
      mat-list-item
      (click)="irALink('hospital')"
      routerLink="/hospital"
      routerLinkActive="list-item-active-link"
    >
      <mat-icon class="link__icon mx-1">local_hospital</mat-icon
      ><span class="link__text">Hospitales</span>
    </div>
    <div
      class="link"
      mat-list-item
      (click)="irALink('countries')"
      routerLink="/countries"
      routerLinkActive="list-item-active-link"
    >
      <mat-icon class="link__icon mx-1">public</mat-icon
      ><span class="link__text">Paises</span>
    </div>
    <div
      class="link"
      mat-list-item
      (click)="irALink('departaments')"
      routerLink="/departaments"
      routerLinkActive="list-item-active-link"
    >
      <mat-icon class="link__icon mx-1">place</mat-icon
      ><span class="link__text">Departamentos</span>
    </div>
    <div
      class="link"
      mat-list-item
      (click)="irALink('municipalities')"
      routerLink="/municipalities"
      routerLinkActive="list-item-active-link"
    >
      <mat-icon class="link__icon mx-1">place</mat-icon
      ><span class="link__text">Municipios</span>
    </div>
    
    <mat-divider class="secondaryDivider"></mat-divider>
    <div
      class="linkAdmin mt-ad"
      mat-list-item
      (click)="irALink('login')"
      routerLink="/login"
      routerLinkActive="list-item-active-link"
    >
      <mat-icon class="link__icon mx-1">logout</mat-icon
      ><span class="link__text">Cerrar Sesión</span>
    </div>
  </mat-nav-list>

