.customOptions{
    height: 8rem;
    padding-left: 1rem;
    padding-right: .5rem;
    border-radius: 1rem;
    background-color: $color-secondary-light-1;
    margin-bottom: 2rem;
    padding-top: .6rem;
}

.dropDashboardCustom{
    width: 15vw;
    padding: 0 1rem;
    height: 5rem;
    background-color: transparent;
}

.mapCustomOptions{
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: 2rem;
}

.values{
    display: flex;
}

.overflowContent::-webkit-scrollbar {
    display: none;
}
