.slider{
    display: flex;
    justify-content: center;
    width: 25vh;
    background-color: $color-secondary;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 1.5rem;
}

.sliderSecondary{
    display: flex;
    justify-content: center;
    width: 25vh;
    background-color: $color-primary-white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 1.5rem;
}

.toggleTitle{
    margin: 1rem 2rem;
    color: $color-primary-white;
    font-weight: 500;
}

.toggleTitleSecondary{
    margin: 1rem 2rem;
    color: $color-secondary;
    font-weight: 500;
}

.toggleDashboard{
    margin-top: .7rem;
}

.dropDashboard{
    width: 16vw;
    padding: 0 2rem;
    height: 5rem;
    background-color: transparent;
}

.options{
    display: flex;
    justify-content: space-between;
    background-color: $color-primary-white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    margin: 2rem 0;
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 3rem;
    border-radius: 1rem;
}

.mainDashboardContainer{
    margin: 2.5rem 5rem;
}

.dashboards{
    display: flex;
}

.completeDashboard{
    padding-top: 2rem;
}

.mainContainerDashboard{
    display: flex;
    justify-content: center;
    align-content: center;
}

.bodyDashboardContent{
    display: flex;
}

