*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

input{
    font-family:'Poppins', sans-serif;
}

.main__container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.main__container::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #0a2b41, #143d59);
    top: 15%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
}

.forms__container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 5;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 4rem;
    color: #0a2b41;
    margin-bottom: 50px;
}

.input__field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #dfe0e2;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .8rem;
}

.input__field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 1.6rem;
    color: #333;
}

.input__field input::placeholder{
    color: #aaa;
    font-weight: 400;
}

.btn__login{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #143d59;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 50px 0;
    padding-top: 0.5rem;
    transition: .5s;
    font-size: 1.4rem;
}

.btn:hover{
    background-color: #0a2b41;
}

.panels__container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left__panel{
    pointer-events: all;
    padding: 2rem 8% 5rem 12%;
}

.panel .content{
    color: #fff;
}

.panel h3{
    font-weight: 400;
    line-height: 1;
    font-size: 5rem;
    font-style: italic;
}

.image{
    width: 90%;
}

.icon{
    padding: 1.75rem 1.35rem;
    color: #979797;
}