.mainBox{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient($color-primary,$color-secondary-grey-2,$color-secondary-light-1);
}

.logInForm{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    height: 75vh;
    background-color: $color-primary-white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    transform: translate(-50%,-50%);
}

.formContainer{
    position: relative;
    width: 70%;
    background-color: $color-primary-white;
}

.formSC{
    position: relative;
}
.imageContainer{
    width: 30%;
}

.image{
    rotate: 90;
    width: 100%;
    height: 100%;
}

.labelLI{
    display: block;
    width: 350px;
    margin: 25px auto;
    text-align: center;
    color: $color-primary;
}

.labelLI span{
    font-size: 18px;
    font-weight: 600;
    color: $color-primary;
    text-transform: uppercase;
}

.input__field{
    max-width: 400px;
    width: 100%;
    height: 55px;
    background-color: $color-primary-light-2;
    margin: 10px 0;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .8rem;
}

.input__field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 1.6rem;
    color: $color-primary;
}

.input__field input::placeholder{
    color: $color-secondary;
    font-weight: 400;
}

.input__field input:focus{
    background-color: transparent !important;
}

.btn__login{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: $color-secondary;
    color: $color-primary-white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 50px 0;
    padding-top: 0.5rem;
    transition: .5s;
    font-size: 1.4rem;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iconLI{
    padding: 1.75rem 1.35rem;
    color: $color-secondary;
}

.containerForm{
    margin-top: 10vh;
}