<div class="customFilters">
    <h3 class="dialogCustomTitle mb-2 mt-1">SELECCIONE UNA UBICACIÓN</h3>
    <p class="ml-2 pText">Bolivia</p>
    <mat-form-field class="dropDashboard selectDash">
        <mat-label class="selectDash">Departamento</mat-label>
        <mat-select class="selectDash">
            <mat-optgroup label = Departamentos>
                <mat-option *ngFor = "let department of departments" (click)="setMunicipalities(department.id)" (click)="setActualPath(department.id)" (click)="setActualLocation(this.depar)"  (click)="setActualName(department.name)" value ="{{department.id}}">{{department.name}}</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="dropDashboard selectDash">
        <mat-label class="selectDash">Municipio</mat-label>
        <mat-select class="selectDash">
            <mat-option class="selectDash" value = "none" >---</mat-option>
            <mat-optgroup label = Municipios>
                <mat-option *ngFor = "let municipality of municipalities" (click)="setActualPath(municipality.id)" (click)="setActualLocation(this.muni)" (click)="setActualName(municipality.name)" value = "{{municipality.id}}">{{municipality.name}}</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <p class="ml-2 pText">Mundo</p>
    <mat-form-field class="dropDashboard selectDash">
        <mat-label class="selectDash">País</mat-label>
        <mat-select class="selectDash">
            <mat-optgroup label = Países>
                <mat-option *ngFor = "let country of countries" (click)="setActualPath(country.id)" (click)="setActualLocation(this.coun)" (click)="setActualName(country.name)"value ="{{country.id}}">{{country.name}}</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <div class="mybuttonContainer">
        <button mat-raised-button class="locationButton" (click) ="returnPath()">Aceptar</button>
    </div>

</div>