*{
    margin: 0px;
    padding: 0px;
}


.list{
    height: 89.2vh;
    width: 100%;
}

/*div[class|="col"]{
    border: 1px solid #ffc107;
}*/

.graphics__container{
    height: 150px;
    background-color: yellow;
}

.main__container{
    height: 89.2vh;
}

.c__input{
    grid-area: input;
}

.c__map{
    margin-top: 5vh;
    display: grid;
    justify-content: center;
    height: 80vh;
}

.c__map__world{
    margin-top: 15vh;
    display: grid;
    justify-content: center;
    height: 50vh;
}

