*{
    margin: 0px;
    padding: 0px;
    background-color: #121e34;
}

.main__container{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100%;
}

.mismapas{
    height: 89.2vh;
    width: 100%;
}

.cards{
    background-color: #e1f6f4;
}

.cardstitle{
    border-top: 2px solid #1f2b41;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121e34;
    box-shadow: 0px 3px 0px #166678;
}

.cardstitle .h3__title{
    margin: 15px 0;
    background-color: #121e34;
    color: #e1f6f4;
    font-size: 50px;
    font-weight: 600;
}


