.button{
    background: #e1f6f4;
    color: #166678;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    border-radius: 10px;
}

.element{
    padding:50px;
}

.content__table thead{
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}

.content__table thead tr{
    background-color: #166678;
    color: #e1f6f4;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
}