*{
    margin: 0px;
    padding: 0px;
}
.departinfo{
    background: #f0f8f7;
    color: #166678;
    font-size: 20px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 3px 0px #166678;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.main__container{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 99.2%;
}

.element{
    padding:60px;
    overflow:scroll;
    height: 90vh;
    width: 100%;
}

.h2__cl{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    color: #e1f6f4;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0px 3px 0px #166678;
}

.cht{
    margin: 5px;
    background: #f0f8f7;
    border-radius: 20px;
}

.filters{
    background-color: #121e34;
    height: 35vh;
}