<div class="main__container">
    <div class="row">
        <div class="col-4">
            <div class="element">
                <h2 class="h2__cl">DEPARTAMENTOS</h2>
                <div *ngFor="let department of departments">
                    <a href="" class="departinfo">{{department.name}}</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="filters">
                
            </div>
            <div class="cht">
                <canvas baseChart
                [datasets]="ChartData"
                [labels]="ChartLabels"
                [options]="ChartOptions"
                [legend]="ChartLegend"
                [chartType]="ChartType"
                [colors]="ChartColors"></canvas>
            </div>
        </div>
    </div>
</div>