<div>
  <div class="title-container"><h1 class="title-page"><strong>Municipios</strong></h1></div>
  <div class="mat-elevation-z8 divtable">
    <mat-table [dataSource] = "dataSource" class="tableall mt-table">
      <ng-container matColumnDef="id_location">
        <mat-header-cell *matHeaderCellDef >Id</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef >Nombre</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Population">
        <mat-header-cell *matHeaderCellDef >Población</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.population}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cases">
        <mat-header-cell *matHeaderCellDef >Infectados</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.cases}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Deaths">
        <mat-header-cell *matHeaderCellDef >Decesos</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.deaths}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Recovered">
        <mat-header-cell *matHeaderCellDef>Recuperados</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.recovered}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Vaccine">
        <mat-header-cell *matHeaderCellDef >Vacunados</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.vaccine}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]=[5,10,15,25] [pageSize] = "10"  class="selectDash" showFirstLastButtons></mat-paginator>
  </div>
</div>
